<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
<h2>Upload New Job</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Title:</label><br>
    <input type="text" name="title" required><br><br>

    <label>Company:</label><br>
    <input type="text" name="company" required><br><br>

    <label>Location:</label><br>
    <input type="text" name="location" required><br><br>

    <label>Job Type:</label><br>
    <input type="text" name="job_type" required><br><br>

    <label>Image (optional):</label><br>
    <input type="file" name="image"><br><br>

    <button type="submit" class="btn btn-success">Post Job</button>
</form>

</body>
</html>