<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- templates/upload_video.html -->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Enter title" required><br><br>
    <input type="file" name="video_file" accept="video/*" required><br><br>
    <button type="submit">Upload</button>
</form>

</body>
</html>